/* BOARD */

.board {
    margin: auto;
    width: 1000px;
}

.player1 {
    display: inline-block;
    width: 500px;
    vertical-align: top;
}

.player2 {
    display: inline-block;
    width: 500px;
    vertical-align: top;
}

/* MODAL */

.modal {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
}

.modal_content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    background-color: white;
}

/* CARD */

.card {
    margin: 10px 0;
    border: 1px solid #999;
}

.ability .name {
    color: #900;
    font-weight: bold;
}

.special {
    width: 17px;
    height: 17px;
    background: url('../img/icons/special.png');
    display: inline-block;
    margin: 0 0 -3px 2px;
}

.dull {
    width: 17px;
    height: 17px;
    background: url('../img/icons/dull.png');
    display: inline-block;
    margin: 0 0 -3px 2px;
}

.active {
    border: 1px solid black;
}