<img ng-src="./img/icons/{{card.cost.elt}}_{{card.cost.nbr}}.png">
{{card.name}}<br/>
<div class="ability" ng-repeat="ability in card.abilities">
  <span class="name">{{ability.name}}</span>
  <span ng-repeat="cost in ability.cost">
    <span ng-repeat="c in range(cost.nbr) track by $index">
      <img ng-src="./img/icons/{{cost.elt}}.png"/>
    </span>
  </span>
  {{ability.text}}
</div>
<button type="button" class="btn btn-primary btn-xs" ng-show="card.canDiscard()" ng-click="card.discard()">Discard</button>
<button type="button" class="btn btn-primary btn-xs" ng-show="card.canPlay()" ng-click="card.play()">Play</button>
<button type="button" class="btn btn-primary btn-xs" ng-show="card.canSupport()" ng-click="card.support()">Support</button>