<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3 text-center">
        {{app.game.current().name}}<br/>
        {{app.game.phase}}<br/>
        {{app.game.time}}<br/>
        <button ng-click="app.game.endPhase()" ng-show="app.game.isMe()">Next</button>
    </div>
    <div class="col-md-3"></div>
</div>

<div class="board">
    <div class="player1">
        <h5>
            {{app.game.player.name}}
            <span ng-repeat="crystal in app.game.player.crystals">
                <img ng-src="./img/icons/{{crystal.elt}}.png" ng-class="{active: crystal.active}" ng-click="crystal.toggle()"/>
            </span>
        </h5>

        <div class="hand">
            <h6>Hand</h6>

            <div class="card" ng-repeat="card in app.game.player.hand" ng-include src="'./partials/card.html'"
                 scope="card"></div>
        </div>

        <div class="breaks">
            <h6>Break zone</h6>

            <div ng-repeat="card in app.game.player.break"></div>
        </div>

        <div class="forwards">
            <h6>Field</h6>

            <div class="card" ng-repeat="card in app.game.player.field" ng-include src="'./partials/card.html'"
                 scope="card"></div>
        </div>

    </div><!--

        --><div class="player2">
        <h5>
            {{app.game.opponent.name}}
            <span ng-repeat="crystal in app.game.opponent.crystals">
                <img ng-src="./img/icons/{{crystal.elt}}.png" ng-click="crystal.useCrystal()"/>
            </span>
        </h5>

        <div class="row">

            <div class="col-md-6">
                <h6>Forwards</h6>

                <div class="forwards">
                    <div ng-repeat="card in app.game.opponent.forwards"></div>
                </div>

                <h6>Backups</h6>

                <div class="backups">
                    <div ng-repeat="card in app.game.opponent.backups"></div>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="modal" ng-show="app.game.cardToPlay">
    <div class="modal_content">
        <h4>Test</h4>


        <button>Valid</button>
    </div>
</div>