<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-3 text-center">
    {{game.play.current().name}}<br />
    {{game.play.phase}}<br />
    {{game.play.time}}<br />
    <button ng-click="game.play.endPhase()" ng-show="game.play.isMe()">Next</button>
  </div>
  <div class="col-md-3"></div>
</div>

<div class="row">
  <div class="player col-md-6">
    <h5>
      Player 
      <span class="elt {{key}}" ng-repeat="(key, value) in game.play.player.crystals">{{value}}</span>
    </h5>

    <div class="row">
      
      <div class="hand col-md-6">
        <h6>Hand</h6>
        <div class="card" ng-repeat="card in game.play.player.hand" ng-include src="'./partials/card.html'" scope="card"></div>
      
        <h6>Breaks</h6>
        <div class="card" ng-repeat="card in game.play.player.breaks">
          <span class="elt {{c.elt}}" ng-repeat="c in card.cost">{{c.nbr}}</span>
          {{card.name}}<br />
          <div class="ability" ng-repeat="ability in card.abilities">
            <span class="elt {{c.elt}}" ng-repeat="c in ability.cost">{{c.nbr}}</span>
            <span class="name">{{ability.name}}</span> {{ability.text}}
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <h6>Forwards</h6>
        
        <div class="forwards">
          <div ng-repeat="card in game.play.player.forwards"></div>
        </div>

        <h6>Backups</h6>
        
        <div class="backups">
          <div ng-repeat="card in game.play.player.backups"></div>
        </div>
      </div>

    </div>

  </div>

  <div class="opponent col-md-6">
    <h5>Computer</h5>

    <div class="row">

      <div class="col-md-6">
        <h6>Forwards</h6>

        <div class="forwards">
          <div ng-repeat="card in game.play.player.forwards"></div>
        </div>

        <h6>Backups</h6>

        <div class="backups">
          <div ng-repeat="card in game.play.player.backups"></div>
        </div>
      </div>

    </div>
  
  </div>
</div>