.card {
  margin: 10px 0;
  border: 1px solid #999;
}

.ability .name {
  color: #900;
  font-weight: bold;
}

.special {
  width: 17px;
  height: 17px;
  background: url('../img/icons/special.png');
  display: inline-block;
  margin: 0 0 -3px 2px;
}

.dull {
  width: 17px;
  height: 17px;
  background: url('../img/icons/dull.png');
  display: inline-block;
  margin: 0 0 -3px 2px;
}

.fire {
  color: #fff;
  background-color: #900;
  border-radius: 5px;
  display: inline-block;
  margin: 0 0 0 2px;
  padding: 0 2px;
}