<!DOCTYPE html>
<html lang="fr" ng-app="ff-tcg">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="revisit-after" content="7 days" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1" />
    
    <title>FF TCG</title>

    <link rel="stylesheet" type="text/css" href="css/style.css">
    
    <script src="js/underscore.min.js"></script>
    
    <script src="models/game.js"></script>
 
    <script src="js/jquery.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular-cookies.min.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/app.js"></script>

  </head>

  <body>

    <header>
      <div class="wrapper">
        FF TCG
      </div>
    </header>

    <nav ng-controller="NavCtrl">
        <ul>
            <li ng-click="game()" ng-class="{ current: isActive('/game')}">Game</li><!--
            --><li ng-click="save()" class="last" ng-class="{ current: isActive('/save')}">Save</li>
        </ul>
    </nav>

    <div class="wrapper" ng-view></div>

    <div class="tmps"></div>
    
    <div class="clear"></div>

    <footer>
      <div class="wrapper">
        ©2013 menencia.com, version <strong><big>{{game.version}}</big></strong> ALPHA
      </div>
    </footer>

  </body>

</html>
